In [1]:
import pandas as pd, os
os.listdir()

['BMPs.csv', '.ipynb_checkpoints', '1 Import csv.ipynb']

In [2]:
data = pd.read_csv('BMPs.csv')
data.head()

           ID Type   Na   Cl    Cr   BUN  CO2   Ca  Glc    K
0  1025953027   IP  152  117  0.65  20.0   24  9.3  146  3.8
1  1025954013   IP  143  107  0.46   8.0   24  8.0  163  3.6
2  1025954020   IP  131   97  1.74  92.0   21  8.1  168  5.2
3  1025954042   ED  141  104  0.64   9.0   26  8.8  103  3.8
4  1025954104   IP  150  119  0.41  45.0   17  7.9   79  3.7

In [3]:
data.

AttributeError: 'DataFrame' object has no attribute 'summary'