In [1]:
import pandas as pd, os
os.listdir()

['BMPs.csv', '.ipynb_checkpoints', '1 Import csv.ipynb']

In [2]:
data = pd.read_csv('BMPs.csv')
data.head()

           ID Type   Na   Cl    Cr   BUN  CO2   Ca  Glc    K
0  1025953027   IP  152  117  0.65  20.0   24  9.3  146  3.8
1  1025954013   IP  143  107  0.46   8.0   24  8.0  163  3.6
2  1025954020   IP  131   97  1.74  92.0   21  8.1  168  5.2
3  1025954042   ED  141  104  0.64   9.0   26  8.8  103  3.8
4  1025954104   IP  150  119  0.41  45.0   17  7.9   79  3.7

In [3]:
data.describe()

,ID,Na,Cl,Cr,BUN,CO2,Ca,Glc,K
count,1.817510e+05,181751.000000,181751.000000,181751.000000,181751.000000,181751.000000,181751.000000,181751.000000,181751.000000
mean,6.253098e+09,138.743743,102.724079,1.246551,23.029250,23.901024,9.123527,122.456432,4.247015
std,3.332224e+09,4.382035,5.209857,1.296582,18.255517,3.884630,0.738406,53.610641,0.581276
min,1.025953e+09,85.000000,54.000000,0.100000,1.000000,3.000000,1.000000,11.000000,1.500000
25%,2.731301e+09,137.000000,100.000000,0.690000,12.000000,22.000000,8.700000,91.000000,3.900000
50%,7.626100e+09,139.000000,103.000000,0.900000,17.000000,24.000000,9.200000,107.000000,4.200000
75%,9.529100e+09,141.000000,105.000000,1.250000,27.000000,26.000000,9.600000,136.000000,4.600000
max,9.931924e+09,183.000000,169.000000,23.340000,273.000000,65.000000,58.100000,990.000000,10.000000